@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#d3e0ea 0%, #478DC5 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    color: #478DC5;
    font-family: 'Nunito', sans-serif;
}

.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card {
    background-color: #d3e0ea;
    height: 150px;
    width: 500px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.temp {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
}

.temp img {
    height: 50px;
    width: 50px;
}

.location {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card h3 {
    text-align: center;
    font-size: 25px;
}

.card h4 {
    font-size: 14px;
}

.aqi {
    font-size: 14px;
    margin-top: 5px;
}

input[type=text] {
    background-color: white;
    border: none;
    width: 250px;
    padding: 5px;
    color: #478DC5;
    border-radius: 5px;
}

input:focus {
    background-color: #d3e0ea;
    outline: none;
}

button {
    padding: 8px;
    border: none;
    padding-left: 12px;
    padding-right: 12px;
    color: #478DC5;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #478DC5;
    color: #d3e0ea;
}

@media only screen and (max-width:500px) {
    body, .card, .container {
        width: 100vw;
    }
}